@font-face {
  font-family: Coolvetica;
  src: url('./coolvetica.ttf');
}

body {
  background-color: #e1e6e2;
}

.header-container {
  text-align: center;
  margin-top: 10px;
}

.header, .fave-header {
  font-family: Coolvetica, sans-serif;
  margin: 0 25px;
  font-size: 150px;
  padding: 23px;
  color: #475559;
  letter-spacing: 5px;
}

.drop-zone {
  border: 2px dotted black;
  height: 55vh;
  width: 90%;
  margin: 90px auto;
  margin-top: 0;
}

.color1, .color2, .color3, .color4, .color5 {
  height: 250px;
  width: 158px;
  display: inline-block;
}

.photo-palette-container {
  width: 50%;
  margin: auto;
}

.palette-container {
  display: flex;
}

img {
  width: 100%;
}

.delete-btn {
  border: none;
  background-color: transparent;
  font-family: Coolvetica, sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: #475559;
  outline: 0;
  transition: all 0.5s ease-in;
}

.fave-btn {
  border: none;
  background-color: transparent;
  font-size: 32px;
  font-family: Coolvetica, sans-serif;
  color: #475559;
  outline: 0;
  transition: all 0.5s ease-in;
}

.delete-btn:hover, .fave-btn:hover {
  cursor: pointer;
  transform: scale(1.3);
}


.photo-options {
  text-align: right;
  margin-bottom: 50px;
}


.fave-btn:target {
  background-color: magenta;
  border-radius: 100%;
}


p {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 20px;
  color: #4b4957;
  text-align: center;
  margin-top: 75px;
}

.fave-img {
  width: 52%;
}

.fave-page-btn, .home-btn, .home-page-btn, .login-page-btn {
  border: 2px solid #4b4957;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 20px;
  color: #4b4957;
  background: transparent;
  margin-left: 30px;
  padding: 10px;
  transition: all 0.5s ease;
}

.fave-page-btn:hover, .home-btn:hover, .home-page-btn:hover, .login-page-btn:hover  {
  font-size: 25px;
  border: 3px solid #4b4957;
}

.btn-container {
  margin: 0 auto;

}

/*.fave-page-btn {
  position: absolute;
  top: 30px;
  left: 200px;
}*/


.home-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.favorite-container {
  margin: 35px;
}

.home-btn {
  margin-left: 85px;
}
